<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:ng="ignored" xmlns:app="ignored"> 
 <head> 
  <meta name="Keywords" content="клавиатурный тренажер, клавиатура, эргономическая клавиатура, онлайн игра, скорость набора, тест, скорость печати, быстро печатать, гонки, автогонки, машины"> 
  <meta name="Description" content="Клавогонки - онлайновый клавиатурный тренажер-игра и автомобильные гонки. Самый увлекательный способ научиться быстро печатать. "> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ccgjjlcljkfnkobbdioacacpkpnbmjoa"> 
  <link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon"> 
  <link rel="icon" href="/favicon.png"> 
  <link rel="alternate" type="application/rss+xml" href="/vocs/972/comments.xml" title="Комментарии к словарю '156 слов с дефисом'"> 
  <script src="/js/prototype-1.7.js" type="text/javascript"></script> 
  <script src="/js/scriptaculous.js" type="text/javascript"></script> 
  <script src="/js/swfobject-2.js" type="text/javascript"></script> 
  <script src="/js/b64.js" type="text/javascript"></script> 
  <script src="/js/md5.js" type="text/javascript"></script> 
  <script src="/js/sha1.js" type="text/javascript"></script> 
  <script src="/js/strophe.min.js" type="text/javascript"></script> 
  <script src="/js/resize-full.js?3" type="text/javascript"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script> 
  <script src="/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script> 
  <script src="/js/recaptcha.js" type="text/javascript"></script> 
  <script src="/js/lodash-2.2.1.min.js" type="text/javascript"></script> 
  <script src="/js/feedback.js" type="text/javascript"></script> 
  <script src="/js/sockjs.min.js" type="text/javascript"></script> 
  <script src="/js/dateformat.js" type="text/javascript"></script> 
  <script src="/js/humanize-duration.js" type="text/javascript"></script> 
  <script src="//www.google.com/jsapi" type="text/javascript"></script> 
  <script src="//www.google.com/recaptcha/api.js?hl=ru" async defer></script> 
  <script src="//static.xsolla.com/embed/paystation/1.0.4/widget.min.js" async defer></script> 
  <script type="text/javascript" src="/js/vendor/colorpicker/ColorMethods.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/colorpicker/ColorPicker.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/colorpicker/ColorValuePicker.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/colorpicker/Slider.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/fabric.min.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/html2canvas.min.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/literallycanvas.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/marked.min.js?bust=1601778368685"></script> 
  <script type="text/javascript" src="/js/vendor/sprintf.min.js?bust=1601778368685"></script> 
  <script type="text/javascript">
var url_suffix = '';
var url_params = {};
var MSIE6 = false;
var __remote_addr = '46.0.123.216';
var __testmode = false;
var __vk = false;
var __user_prefs = {};
var __user__ = null;
var __csrftoken = '';

var RecaptchaOptions = {
	lang: 'ru'
};

var $$$ = jQuery.noConflict();

$$$(function() {
	$$$('#userpanel-dailybonus, #userpanel-level').tipsy({html: true});
});
</script> <!--[if lte IE 6]>
<script type="text/javascript">var MSIE6 = true;</script>
<![endif]--> 
  <link type="text/css" rel="stylesheet" href="/css/app.css?bust=1601778368685"> 
  <link type="text/css" rel="stylesheet" href="/css/main.css?bust=1601778368685"> 
  <link type="text/css" rel="stylesheet" href="/css/jquery-ui-1.10.3.custom.min.css"> 
  <script src="/js/play.js?bust=1601778368685" type="text/javascript"></script> 
  <script src="/js/main.js?bust=1601778368685" type="text/javascript"></script> 
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js" type="text/javascript"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js" type="text/javascript"></script> 
  <script src="/js/angular-timer.min.js" type="text/javascript"></script> 
  <script type="text/javascript">
    angular.module('page', [])
        .constant('Me', null)
</script> 
  <script type="text/javascript" src="/js/angular/build.min.js?bust=1601778368685"></script> <!--[if lte IE 6]>
<style>@import "/css/pngfix.css";</style>
<![endif]--> <!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" href="/css/ie7.css">
<![endif]--> 
  <script type="text/javascript">
function initPage()
{			
	$$$('#rating_stars').ratingStars({
		rating: '',
		callback: function(rating) {
		
			$$$.post('/vocs/.ajax', {
				act: 'rating',
				id: '972',
				rating: rating,
				csrftoken: ''},
				
				function(data) {					
					if(data.rating) {
						$$$('.title .rating_stars')
							.removeClass('rating_stars0 rating_stars1 rating_stars2 rating_stars3 rating_stars4 rating_stars5 rating_stars6 rating_stars7 rating_stars8 rating_stars9 rating_stars10')
							.addClass('rating_stars'+data.rating);
						$('rating_cnt').innerHTML = data.rating_cnt;
					}
				
				},'json');	
			
		}});
}</script> 
  <script type="text/javascript">
    angular.module('page').constant('PageData', {})
</script> 
  <title>156 слов с дефисом - Словари - Клавогонки - онлайновый клавиатурный тренажер-игра</title> 
 </head> 
 <body onload="" ng:app="app"> 
  <div class="notification-bar ng-cloak" ng:controller="userpanel:GameInvite as GameInvite" app:float-fixed ng:show="GameInvite.invite &amp;&amp; GameInvite.invite.active"> 
   <div class="right"> <timer ng:if="GameInvite.invite.game_begin > 0" end-time="GameInvite.invite.game_begin" max-time-unit="'minute'">
     [{{mminutes}}:{{sseconds}}]
    </timer> <button ng:click="GameInvite.onAccept()">Присоединиться</button> <button ng:click="GameInvite.onEnableIgnore(60)">Не беспокоить 1 час</button> <a><img src="/img/yellow_cross.gif" alt="X" ng:click="GameInvite.onCancel()"></a> 
   </div> 
   <div class="content"> <span style="font-size: 13px;"> Пользователь 
     <app:user-avatar user="GameInvite.invite.invited_by" size="small"></app:user-avatar> <a href="/u/#/{{GameInvite.invite.invited_by.id}}/" ng:bind="GameInvite.invite.invited_by.login"></a> приглашает вас присоединиться к 
     <ng:switch on="GameInvite.invite.type"> 
      <span ng:switch-when="normal">открытой игре</span> 
      <span ng:switch-when="private">игре с друзьями</span> 
     </ng:switch> <span ng:bind-html="GameInvite.invite.gametype_html | trust"></span>. </span> 
   </div> 
  </div> 
  <style>
.premiaruneta {
background: #131A4E;
}

.premiaruneta .banner-content {
box-shadow: 0px 0px 350px -10px rgba(65, 198, 250, 1);
border: 1px solid rgb(85, 79, 50);
}

.premiaruneta .banner-airplane { 
 background: transparent !important;
}


</style> 
  <div class="ownbanner-back w728  "> 
   <div class="banner-clouds"> 
    <img id="cloud0" class="banner-cloud" style="opacity: 0.9; left: -10%; top: -4px;" height="112" src="/img/clouds/5.png" alt=""> 
    <img id="cloud1" class="banner-cloud" style="opacity: 0.8; left: 80%; top: -104px;" height="158" src="/img/clouds/5.png" alt=""> 
    <img id="cloud2" class="banner-cloud" style="opacity: 0.9; left: 15%; top: 14px;" height="225" src="/img/clouds/2.png" alt=""> 
    <img id="cloud3" class="banner-cloud" style="opacity: 0.8; left: 33%; top: 38px;" height="113" src="/img/clouds/5.png" alt=""> 
    <img id="cloud4" class="banner-cloud" style="opacity: 0.7; left: 47%; top: -154px;" height="220" src="/img/clouds/1.png" alt=""> 
    <img id="cloud5" class="banner-cloud" style="opacity: 0.9; left: 20%; top: -94px;" height="216" src="/img/clouds/5.png" alt=""> 
    <img id="cloud6" class="banner-cloud" style="opacity: 0.8; left: 50%; top: 24px;" height="219" src="/img/clouds/1.png" alt=""> 
    <img id="cloud7" class="banner-cloud" style="opacity: 0.7; left: 55%; top: -18px;" height="183" src="/img/clouds/3.png" alt=""> 
    <img id="cloud8" class="banner-cloud" style="opacity: 0.7; left: 15%; top: 65px;" height="199" src="/img/clouds/2.png" alt=""> 
    <img id="cloud9" class="banner-cloud" style="opacity: 0.6; left: 63%; top: -138px;" height="174" src="/img/clouds/5.png" alt=""> 
   </div> 
   <div id="topads" class="banner-airplane"> 
    <div class="banner-content"> 
     <div id="travian"> 
      <script type="text/javascript"><!--
google_ad_client = "pub-0869123151243242";
google_ad_slot = "3033105139";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script> 
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="head" class="minwidth green-back"> 
   <div class="minwidth_holyhack"> 
    <div class="minwidth_container"> 
     <div id="logo"> <a href="/"><img src="/img/logo-5.gif" alt="Клавогонки.Ру" title="Клавогонки.Ру"></a> 
     </div> 
     <div class="right"> 
      <div class="login-block"> <a class="login" id="login-link" onclick="$('login-form').show();"><span>Вход</span></a> и регистрация 
      </div> 
      <div class="menu"> <a href="/forum/">Форум</a> <a href="/wiki/">Вики</a> <a href="/fuel/">Дозаправка</a> <a href="/about/">Об игре</a> <a href="/vocs/top/" class="active">Словари</a> <a href="/top/">Рейтинг</a> <a href="/gamelist/">Заезды</a> 
      </div> 
     </div> 
     <div style="clear: both;"></div> 
    </div> 
   </div> 
   <div id="loading-box" class="ng-cloak" app:loading ng:show="Loader.loadingCnt > 0"> 
    <div class="alert alert-warning">
     Загрузка...
    </div> 
   </div> 
  </div> 
  <div class="bar"></div> 
  <div class="popup-box" id="login-form" style="display:none;"> 
   <table> 
    <tbody>
     <tr> 
      <td class="tl"></td> 
      <td class="t"></td> 
      <td class="tr"></td> 
     </tr> 
     <tr> 
      <td class="l"></td> 
      <td class="c"> 
       <form method="POST" action="/login"> 
        <input type="hidden" name="redirect" value="/vocs/972/"> 
        <dl id="r_username"> 
         <dt>
          <label for="username">Логин</label>
         </dt> 
         <dd>
          <input name="login" id="username">
         </dd> 
        </dl> 
        <dl id="r_password"> 
         <dt>
          <label for="password">Пароль</label>
         </dt> 
         <dd class="field">
          <input name="pass" id="password" type="password">
         </dd> 
        </dl> 
        <dl id="r_login_form_submit"> 
         <dt></dt> 
         <dd>
          <input type="submit" name="submit_login" value="Войти" id="login_form_submit">
         </dd> 
        </dl> 
        <dl> 
         <dt></dt> 
         <dd> 
          <ul class="navigation"> 
           <li><a href="/register/">Регистрация</a></li> 
           <li><a href="/remind/">Я ничего не помню</a></li> 
          </ul> 
         </dd> 
        </dl> 
       </form> </td> 
      <td class="r"></td> 
     </tr> 
     <tr> 
      <td class="bl"></td> 
      <td class="b"></td> 
      <td class="br"></td> 
     </tr> 
    </tbody>
   </table> 
   <div class="close">
    <ins></ins>
   </div> 
  </div> 
  <div id="content" class="minwidth"> 
   <div class="minwidth_holyhack"> 
    <div class="minwidth_container">
     <script type="text/javascript">
$$$(function() {
	
	var voc_id = '972';
	$$$('.btn_play').click(function() {
		window.location = '/create/?voc='+voc_id;
	});
	$$$('.btn_fav').click(function() {
		$$$('.btn_play, .remove').show();
		$(this).hide();
		
		$$$.post('/vocs/.ajax', {
				act: 'fav-add',
				csrftoken: '',
				id: voc_id});
		$('fav_cnt').innerHTML = parseInt($('fav_cnt').innerHTML)+1; 
	});
	
	$$$('.remove').click(function() {
		$$$('.btn_play, .remove').hide();
		$$$('.btn_fav').show();
		
		$$$.post('/vocs/.ajax', {
				act: 'fav-remove',
				csrftoken: '',
				id: voc_id});

		$('fav_cnt').innerHTML = parseInt($('fav_cnt').innerHTML)-1;
	});
});
</script> 
     <div id="profile-block" class="vocview-block"> 
      <dl class="user-title"> 
       <dd> 
        <table cellspacing="0" cellpadding="0"> 
         <tbody>
          <tr> 
           <td class="title"> 156 слов с дефисом 
            <div class="rating-block"> 
             <div class="rating_stars rating_stars9"></div> (<span id="rating_cnt">150</span>)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Используют <span id="fav_cnt">496</span> человек 
            </div> </td> 
           <td class="links"> </td> 
           <td></td> 
          </tr> 
         </tbody>
        </table> 
       </dd> 
      </dl> 
      <div class="right-col"> 
       <div class="comments"> 
        <div class="r tl">
         <div class="tr">
          <div class="bl">
           <div class="br">
            <div class="rc"> 
             <h4>Комментарии <a class="rss" href="/vocs/972/comments.xml"><img src="/img/rss2.gif"></a></h4> 
             <div class="comment"> 
              <div class="info"> <span class="author"><a class="name" href="/profile/587303">JantawL</a></span> <span class="date">28 марта 2020</span> 
              </div> Mail Order Nexium <a rel="nofollow" href="https://apcialisle.com/#" target="_blank">Cialis</a> Cheap Viagra For Sale Fast Shipping &lt;a href=https://apcialisle.com/#&gt;when will cialis be generic&lt;/a&gt; Fluoxetine 40mg 
             </div> 
             <div class="comment"> 
              <div class="info"> <span class="author"><a class="name" href="/profile/548908">interference</a></span> <span class="date">7 марта 2020</span> 
              </div> Цифры всю погоду портят, согласен. 183-миллионный убрать, например. Остальное пусть будет 
             </div> 
             <div class="comment"> 
              <div class="info" style="padding-left: 25px; background: transparent url('/storage/avatars/483891.png?updated=1510225609') no-repeat 0% 0%"> <span class="author"><a class="name" href="/profile/483891">Mask2017</a></span> <span class="date">2 мая 2019</span> 
              </div> Мне показалось, что слова с цифрами выглядят слишком коряво. Удобней написать: "первый", второго, пятнадцатый, чем тянуть пальцы на верхние ряды...:) 
             </div> 
             <div class="comment"> 
              <div class="info" style="padding-left: 25px; background: transparent url('/storage/avatars/528143.png?updated=1596375555') no-repeat 0% 0%"> <span class="author"><a class="name" href="/profile/528143">Анна_Банановна</a></span> <span class="date">2 мая 2019</span> 
              </div> Так это слова с дефисом или цифры? 
              <br>Я пришла сюда отрабатывать дефисы, а тут лезут цифры, которые совсем другая история. Это раздражает.
              <br>Идея словаря отличная, цифры всё испортили. 
             </div> 
             <div class="comment"> 
              <div class="info"> <span class="author"><a class="name" href="/profile/497339">поехала</a></span> <span class="date">12 сентября 2017</span> 
              </div> трояк я за такой словарь поставила. Ещё чего найду - на кол исправлю.
              <br> 
             </div> 
             <div class="comment"> 
              <div class="info"> <span class="author"><a class="name" href="/profile/497339">поехала</a></span> <span class="date">12 сентября 2017</span> 
              </div> ребят, ну правда, поубирайте эту чушь, что тут люди просили. И ещё одно - МИРУ - МИР через ТИРЕ пишется, а не дефис. Сжальтесь, а
              <br> 
             </div> 
             <div class="comment"> 
              <div class="info" style="padding-left: 25px; background: transparent url('/storage/avatars/330049.png?updated=1388211235') no-repeat 0% 0%"> <span class="author"><a class="name" href="/profile/330049">Morbid_Angel</a></span> <span class="date">10 июля 2017</span> 
              </div> а вас никогда не посылали поди-де? не-знаю-куда принеси-то не-знаю-что?) 
             </div> 
             <div class="comment"> 
              <div class="info" style="padding-left: 25px; background: transparent url('/storage/avatars/330049.png?updated=1388211235') no-repeat 0% 0%"> <span class="author"><a class="name" href="/profile/330049">Morbid_Angel</a></span> <span class="date">10 июля 2017</span> 
              </div> па-де-кале 
             </div> 
             <div class="comment"> 
              <div class="info" style="padding-left: 25px; background: transparent url('/storage/avatars/258863.png?updated=1552558046') no-repeat 0% 0%"> <span class="author"><a class="name" href="/profile/258863">МОТОРНЫЙ</a></span> <span class="date">2 марта 2017</span> 
              </div> А что это за "поди-де"? Откуда вы это взяли, интересно? Может быть вы "па-де-де" имели в виду? 
             </div> 
             <div class="comment"> 
              <div class="info"> <span class="author"><a class="name" href="/profile/404176">verdona</a></span> <span class="date">16 августа 2016</span> 
              </div> Ох... у всех та же ошибка - 500 заездов за 22 очка? Надеюсь, что это ошибка ))) 
             </div> 
             <div class="comment"> 
              <div class="info" style="padding-left: 25px; background: transparent url('/storage/avatars/348039.png?updated=1449121905') no-repeat 0% 0%"> <span class="author"><a class="name" href="/profile/348039">Tenguy</a></span> <span class="date">16 августа 2016</span> 
              </div> мне нужно пройти 500 заездов, чтобы получить 22 очка! 
             </div> <a class="link write" href="/vocs/972/comments/#write"><i></i>Написать тут</a> <a class="link other" href="/vocs/972/comments/"><i></i>Еще комментарии</a> 
            </div>
           </div>
          </div>
         </div>
        </div> 
       </div> 
      </div> 
      <dl class="menu"> 
       <dd> 
        <ul class="trimenu"> 
         <li class="active">Информация</li> 
         <li><a href="/vocs/972/top/">Рекорды</a></li> 
         <li><a href="/vocs/972/history/">История</a> <sub>1</sub></li> 
         <li><a href="/vocs/972/comments/">Комментарии</a> <sub id="cnt_comments">22</sub></li> 
        </ul> 
       </dd> 
      </dl> 
      <div class="user-content"> 
       <dl> 
        <dt>
         Описание:
        </dt> 
        <dd>
          дополненый словарь для отработки дефиса 
        </dd> 
       </dl> 
       <dl> 
        <dt>
         Автор:
        </dt> 
        <dd style="padding-left: 23px; background: white url('/storage/avatars/29044.png?updated=1388205144') no-repeat 0% 65%"> <a href="/profile/29044?" onmouseover="showProfile(29044);" onmousemove="showProfile(29044);" onmouseout="$('popup').hide();"> archi77 </a> 
        </dd> 
       </dl> 
       <dl> 
        <dt>
         Создан:
        </dt> 
        <dd>
          до 15 июня 2009 <span class="note">(текущая версия от 10 апреля 2016 в 16:03)</span> 
        </dd> 
       </dl> 
       <dl> 
        <dt>
          Публичный: 
        </dt> 
        <dd>
          Да 
        </dd> 
       </dl> 
       <dl> 
        <dt>
         Тип словаря:
        </dt> 
        <dd>
          Фразы 
         <div class="note">
          В этом режиме перемешиваться будут не слова, а целые фразы, разделенные переносом строки.
         </div> 
        </dd> 
       </dl> 
       <dl> 
        <dt>
         Содержание:
        </dt> 
        <dd> 
         <div class="words"> 
          <table cellspacing="0" cellpadding="0"> 
           <tbody>
            <tr class="even"> 
             <td class="num">1</td> 
             <td class="text">маленький-маленький</td> 
            </tr> 
            <tr> 
             <td class="num">2</td> 
             <td class="text">еле-еле</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">3</td> 
             <td class="text">чуть-чуть</td> 
            </tr> 
            <tr> 
             <td class="num">4</td> 
             <td class="text">постояли-постояли</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">5</td> 
             <td class="text">день-деньской</td> 
            </tr> 
            <tr> 
             <td class="num">6</td> 
             <td class="text">рад-радехонек</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">7</td> 
             <td class="text">один-одинешенек</td> 
            </tr> 
            <tr> 
             <td class="num">8</td> 
             <td class="text">давным-давно</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">9</td> 
             <td class="text">черным-черно</td> 
            </tr> 
            <tr> 
             <td class="num">10</td> 
             <td class="text">мало-мальски</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">11</td> 
             <td class="text">мало-помалу</td> 
            </tr> 
            <tr> 
             <td class="num">12</td> 
             <td class="text">крепко-накрепко</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">13</td> 
             <td class="text">крест-накрест</td> 
            </tr> 
            <tr> 
             <td class="num">14</td> 
             <td class="text">толстый-претолстый</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">15</td> 
             <td class="text">как-никак</td> 
            </tr> 
            <tr> 
             <td class="num">16</td> 
             <td class="text">волей-неволей</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">17</td> 
             <td class="text">один-единственный</td> 
            </tr> 
            <tr> 
             <td class="num">18</td> 
             <td class="text">нежданно-негаданно</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">19</td> 
             <td class="text">тихо-смирно</td> 
            </tr> 
            <tr> 
             <td class="num">20</td> 
             <td class="text">25-процентный</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">21</td> 
             <td class="text">10-летний</td> 
            </tr> 
            <tr> 
             <td class="num">22</td> 
             <td class="text">35-летие</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">23</td> 
             <td class="text">183-миллионный</td> 
            </tr> 
            <tr> 
             <td class="num">24</td> 
             <td class="text">5-тысячный</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">25</td> 
             <td class="text">1-й</td> 
            </tr> 
            <tr> 
             <td class="num">26</td> 
             <td class="text">2-й</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">27</td> 
             <td class="text">1-го</td> 
            </tr> 
            <tr> 
             <td class="num">28</td> 
             <td class="text">2-го</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">29</td> 
             <td class="text">15-й</td> 
            </tr> 
            <tr> 
             <td class="num">30</td> 
             <td class="text">127-го</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">31</td> 
             <td class="text">во-первых</td> 
            </tr> 
            <tr> 
             <td class="num">32</td> 
             <td class="text">во-вторых</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">33</td> 
             <td class="text">в-третьих</td> 
            </tr> 
            <tr> 
             <td class="num">34</td> 
             <td class="text">по-русски</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">35</td> 
             <td class="text">по-немецки</td> 
            </tr> 
            <tr> 
             <td class="num">36</td> 
             <td class="text">по-птичьи</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">37</td> 
             <td class="text">по-соловьиному</td> 
            </tr> 
            <tr> 
             <td class="num">38</td> 
             <td class="text">по-иному</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">39</td> 
             <td class="text">по-моему</td> 
            </tr> 
            <tr> 
             <td class="num">40</td> 
             <td class="text">по-своему</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">41</td> 
             <td class="text">по-пустому</td> 
            </tr> 
            <tr> 
             <td class="num">42</td> 
             <td class="text">по-прежнему</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">43</td> 
             <td class="text">по-видимому</td> 
            </tr> 
            <tr> 
             <td class="num">44</td> 
             <td class="text">по-братски</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">45</td> 
             <td class="text">на-гора</td> 
            </tr> 
            <tr> 
             <td class="num">46</td> 
             <td class="text">из-за</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">47</td> 
             <td class="text">из-под</td> 
            </tr> 
            <tr> 
             <td class="num">48</td> 
             <td class="text">по-над</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">49</td> 
             <td class="text">по-за</td> 
            </tr> 
            <tr> 
             <td class="num">50</td> 
             <td class="text">ей-богу</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">51</td> 
             <td class="text">ей-же-ей</td> 
            </tr> 
            <tr> 
             <td class="num">52</td> 
             <td class="text">о-го-го</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">53</td> 
             <td class="text">ха-ха-ха</td> 
            </tr> 
            <tr> 
             <td class="num">54</td> 
             <td class="text">цып-цып</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">55</td> 
             <td class="text">динь-динь</td> 
            </tr> 
            <tr> 
             <td class="num">56</td> 
             <td class="text">кое-где</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">57</td> 
             <td class="text">кое-что</td> 
            </tr> 
            <tr> 
             <td class="num">58</td> 
             <td class="text">кое-кто</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">59</td> 
             <td class="text">кое-какой</td> 
            </tr> 
            <tr> 
             <td class="num">60</td> 
             <td class="text">кой-куда</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">61</td> 
             <td class="text">кто-нибудь</td> 
            </tr> 
            <tr> 
             <td class="num">62</td> 
             <td class="text">кто-то</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">63</td> 
             <td class="text">давай-ка</td> 
            </tr> 
            <tr> 
             <td class="num">64</td> 
             <td class="text">как-нибудь</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">65</td> 
             <td class="text">как-либо</td> 
            </tr> 
            <tr> 
             <td class="num">66</td> 
             <td class="text">как-то</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">67</td> 
             <td class="text">ну-тка</td> 
            </tr> 
            <tr> 
             <td class="num">68</td> 
             <td class="text">да-с</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">69</td> 
             <td class="text">где-то</td> 
            </tr> 
            <tr> 
             <td class="num">70</td> 
             <td class="text">поди-де</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">71</td> 
             <td class="text">для-де</td> 
            </tr> 
            <tr> 
             <td class="num">72</td> 
             <td class="text">почивала-де</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">73</td> 
             <td class="text">ей-де</td> 
            </tr> 
            <tr> 
             <td class="num">74</td> 
             <td class="text">она-де</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">75</td> 
             <td class="text">кой-какой</td> 
            </tr> 
            <tr> 
             <td class="num">76</td> 
             <td class="text">кое-какими</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">77</td> 
             <td class="text">кое-чем</td> 
            </tr> 
            <tr> 
             <td class="num">78</td> 
             <td class="text">все-таки</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">79</td> 
             <td class="text">так-таки</td> 
            </tr> 
            <tr> 
             <td class="num">80</td> 
             <td class="text">узнал-таки</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">81</td> 
             <td class="text">выпукло-вогнутый</td> 
            </tr> 
            <tr> 
             <td class="num">82</td> 
             <td class="text">англо-японский</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">83</td> 
             <td class="text">русско-немецко-французский</td> 
            </tr> 
            <tr> 
             <td class="num">84</td> 
             <td class="text">бледно-розовый</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">85</td> 
             <td class="text">бутылочно-зеленый</td> 
            </tr> 
            <tr> 
             <td class="num">86</td> 
             <td class="text">изжелта-красный</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">87</td> 
             <td class="text">темно-русый</td> 
            </tr> 
            <tr> 
             <td class="num">88</td> 
             <td class="text">пепельно-серый</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">89</td> 
             <td class="text">северно-ледовитый</td> 
            </tr> 
            <tr> 
             <td class="num">90</td> 
             <td class="text">западно-сибирская</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">91</td> 
             <td class="text">северо-запад</td> 
            </tr> 
            <tr> 
             <td class="num">92</td> 
             <td class="text">запад-восток</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">93</td> 
             <td class="text">северо-восток</td> 
            </tr> 
            <tr> 
             <td class="num">94</td> 
             <td class="text">юго-западный</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">95</td> 
             <td class="text">юго-восточный</td> 
            </tr> 
            <tr> 
             <td class="num">96</td> 
             <td class="text">юго-запад</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">97</td> 
             <td class="text">север-юг</td> 
            </tr> 
            <tr> 
             <td class="num">98</td> 
             <td class="text">восточно-европейская</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">99</td> 
             <td class="text">южно-сахалинск</td> 
            </tr> 
            <tr> 
             <td class="num">100</td> 
             <td class="text">зюйд-вест</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">101</td> 
             <td class="text">жар-птица</td> 
            </tr> 
            <tr> 
             <td class="num">102</td> 
             <td class="text">бой-баба</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">103</td> 
             <td class="text">дизель-мотор</td> 
            </tr> 
            <tr> 
             <td class="num">104</td> 
             <td class="text">генерал-майор</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">105</td> 
             <td class="text">премьер-министр</td> 
            </tr> 
            <tr> 
             <td class="num">106</td> 
             <td class="text">изба-читальня</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">107</td> 
             <td class="text">купля-продажа</td> 
            </tr> 
            <tr> 
             <td class="num">108</td> 
             <td class="text">паинька-мальчик</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">109</td> 
             <td class="text">пила-рыба</td> 
            </tr> 
            <tr> 
             <td class="num">110</td> 
             <td class="text">человеко-день</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">111</td> 
             <td class="text">киловатт-час</td> 
            </tr> 
            <tr> 
             <td class="num">112</td> 
             <td class="text">норд-ост</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">113</td> 
             <td class="text">точь-в-точь</td> 
            </tr> 
            <tr> 
             <td class="num">114</td> 
             <td class="text">не-а</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">115</td> 
             <td class="text">поди-ка</td> 
            </tr> 
            <tr> 
             <td class="num">116</td> 
             <td class="text">нет-нет</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">117</td> 
             <td class="text">ням-ням</td> 
            </tr> 
            <tr> 
             <td class="num">118</td> 
             <td class="text">раз-два</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">119</td> 
             <td class="text">кин-дза-дза</td> 
            </tr> 
            <tr> 
             <td class="num">120</td> 
             <td class="text">миру-мир</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">121</td> 
             <td class="text">тик-так</td> 
            </tr> 
            <tr> 
             <td class="num">122</td> 
             <td class="text">фигли-мигли</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">123</td> 
             <td class="text">гав-гав</td> 
            </tr> 
            <tr> 
             <td class="num">124</td> 
             <td class="text">кошки-мышки</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">125</td> 
             <td class="text">буль-буль</td> 
            </tr> 
            <tr> 
             <td class="num">126</td> 
             <td class="text">ого-го</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">127</td> 
             <td class="text">пару-тройку</td> 
            </tr> 
            <tr> 
             <td class="num">128</td> 
             <td class="text">опять-таки</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">129</td> 
             <td class="text">прямо-таки</td> 
            </tr> 
            <tr> 
             <td class="num">130</td> 
             <td class="text">по-прежнему</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">131</td> 
             <td class="text">по-моему</td> 
            </tr> 
            <tr> 
             <td class="num">132</td> 
             <td class="text">по-видимому</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">133</td> 
             <td class="text">много-много</td> 
            </tr> 
            <tr> 
             <td class="num">134</td> 
             <td class="text">винни-пух</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">135</td> 
             <td class="text">луна-парк</td> 
            </tr> 
            <tr> 
             <td class="num">136</td> 
             <td class="text">баба-яга</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">137</td> 
             <td class="text">мини-юбка</td> 
            </tr> 
            <tr> 
             <td class="num">138</td> 
             <td class="text">вице-адмирал</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">139</td> 
             <td class="text">статс-дама</td> 
            </tr> 
            <tr> 
             <td class="num">140</td> 
             <td class="text">экс-губернатор</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">141</td> 
             <td class="text">иван-да-марья</td> 
            </tr> 
            <tr> 
             <td class="num">142</td> 
             <td class="text">мать-и-мачеха</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">143</td> 
             <td class="text">пол-лимона</td> 
            </tr> 
            <tr> 
             <td class="num">144</td> 
             <td class="text">пол-яблока</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">145</td> 
             <td class="text">кол-во</td> 
            </tr> 
            <tr> 
             <td class="num">146</td> 
             <td class="text">день-другой</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">147</td> 
             <td class="text">год-два</td> 
            </tr> 
            <tr> 
             <td class="num">148</td> 
             <td class="text">елки-палки</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">149</td> 
             <td class="text">хухры-мухры</td> 
            </tr> 
            <tr> 
             <td class="num">150</td> 
             <td class="text">страсти-мордасти</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">151</td> 
             <td class="text">путь-дорога</td> 
            </tr> 
            <tr> 
             <td class="num">152</td> 
             <td class="text">мать-героиня</td> 
            </tr> 
            <tr class="even"> 
             <td class="num">153</td> 
             <td class="text">умница-разумница</td> 
            </tr> 
            <tr> 
             <td class="num">154</td> 
             <td class="text">штабс-капитан</td> 
            </tr> 
           </tbody>
          </table> 
         </div> 
        </dd> 
       </dl> 
      </div> 
     </div> 
     <script type="text/javascript">
var colWidth = 0;
$$('.right-col .comments').each(function(el){ colWidth = $(el).getWidth(); });
$$('.right-col .comments .linked-image').each(function(el)
	{
		$(el).observe('load',function()
			{			
				if(getImgOriginalWidth(this) > colWidth-30)
				{
					this.style.width = '100%';
					$(this).wrap('a', {'href': this.src, 'target': '_blank', 'title': 'Нажмите для увеличения'});
				}
			});
	});
</script>﻿
    </div>
   </div>
  </div> 
  <div id="footer"> 
   <div style="clear: both;">
    &nbsp;
   </div> 
   <div class="bar"></div> 
   <table width="100%"> 
    <tbody>
     <tr> 
      <td align="left" style="width: 185px;"> <!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t17.2;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border=0 width=88 height=31><\/a>")//--></script><!--/LiveInternet--> <!-- begin of Top100 logo --> <a rel="nofollow" href="//top100.rambler.ru/home?id=1626861"><img src="//top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width="88" height="31" border="0"></a> <!-- end of Top100 logo --> </td> 
      <td align="right" style="padding-right: 80px"> <span id="copyright">© 2008–2020. ИП Лебедев Е.Д. ОРГНИП: 310502904900046 (входит в группу компаний ИнетПартнерс)</span> <span id="links"> <a href="/about/">Правила</a> • <a href="/about/learning/">Обучение</a> • <a href="http://stat.klavogonki.ru" style="color: #090">Статистика</a> </span> </td> 
     </tr> 
    </tbody>
   </table> 
  </div> 
  <div class="popup-box" id="popup" style="position: absolute; display: none;"> 
   <table> 
    <tbody>
     <tr> 
      <td class="tl"></td> 
      <td class="t"></td> 
      <td class="tr"></td> 
     </tr> 
     <tr> 
      <td class="l"></td> 
      <td class="c" id="popup_content"> </td> 
      <td class="r"></td> 
     </tr> 
     <tr> 
      <td class="bl"></td> 
      <td class="b"></td> 
      <td class="br"></td> 
     </tr> 
    </tbody>
   </table> 
  </div> 
  <div id="popalert" class="stdpopup popup_message" style="display: none;"> 
   <div class="back">
    &nbsp;
   </div> 
   <div class="content1"> 
    <div class="content2 popup-box"> 
     <table width="100%"> 
      <tbody>
       <tr> 
        <td class="tl"></td> 
        <td class="t"></td> 
        <td class="tr"></td> 
       </tr> 
       <tr> 
        <td class="l"></td> 
        <td class="c"> 
         <div class="a1">
          <div class="a2 stdpopup-content" id="popalert-content"></div>
         </div> <p align="center"> <input type="button" class="btn" value="Закрыть" onclick="if(_popalert_callback == null || !_popalert_callback()) $('popalert').hide();"> </p> </td> 
        <td class="r"></td> 
       </tr> 
       <tr> 
        <td class="bl"></td> 
        <td class="b"></td> 
        <td class="br"></td> 
       </tr> 
      </tbody>
     </table> 
    </div> 
   </div> 
  </div> 
  <div id="popconfirm" class="stdpopup popup_message" style="display: none;"> 
   <div class="back">
    &nbsp;
   </div> 
   <div class="content1"> 
    <div class="content2 popup-box"> 
     <table width="100%"> 
      <tbody>
       <tr> 
        <td class="tl"></td> 
        <td class="t"></td> 
        <td class="tr"></td> 
       </tr> 
       <tr> 
        <td class="l"></td> 
        <td class="c"> 
         <div class="a1">
          <div class="a2 stdpopup-content" id="popconfirm-content"></div>
         </div> <p align="center"> <input type="button" class="btn" id="popconfirm-btn-ok" value="OK"> <input type="button" class="btn" value="Отмена" onclick="$('popconfirm').hide();"> </p> </td> 
        <td class="r"></td> 
       </tr> 
       <tr> 
        <td class="bl"></td> 
        <td class="b"></td> 
        <td class="br"></td> 
       </tr> 
      </tbody>
     </table> 
    </div> 
   </div> 
  </div> 
  <div id="top-popup" style="display: none"> 
   <div class="right"> 
    <input type="button" value="" onclick="if(typeof _top_popup_btn_callback == 'function') _top_popup_btn_callback();"> <a onclick="close_top_popup();"><img src="/img/yellow_cross.gif" alt="X"></a> 
   </div> 
   <div class="content"> 
   </div> 
  </div> 
  <div id="drop_message" style="display:none"> 
   <div class="content1"> 
    <div class="content2 popup-box"> 
     <table> 
      <tbody>
       <tr> 
        <td class="tl"></td> 
        <td class="t"></td> 
        <td class="tr"></td> 
       </tr> 
       <tr> 
        <td class="l"></td> 
        <td class="c"> </td> 
        <td class="r"></td> 
       </tr> 
       <tr> 
        <td class="bl"></td> 
        <td class="b"></td> 
        <td class="br"></td> 
       </tr> 
      </tbody>
     </table> 
     <div class="close">
      <ins></ins>
     </div> 
    </div> 
   </div> 
  </div> 
  <script type="text/javascript">
initLoginForm();checkCompetitionAlert(305,0);initBBWidgets();
initPage();</script> 
  <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
  <script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-4422489-1");
	pageTracker._setDomainName(".klavogonki.ru");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script> <!-- Yandex.Metrika counter --> 
  <script type="text/javascript">
        var yaParams = {};
    </script> 
  <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23292970 = new Ya.Metrika({id:23292970,
                        webvisor:true,
                        clickmap:true,
                        accurateTrackBounce:true,
                        trackHash:true,
                        params: {
                                                    }});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script> 
  <noscript>
   <div>
    <img src="//mc.yandex.ru/watch/23292970?cnt-class=1" style="position:absolute; left:-9999px;" alt="">
   </div>
  </noscript> <!-- /Yandex.Metrika counter --> <!-- begin of Top100 code --> <!--	<script type="text/javascript" src="http://counter.rambler.ru/top100.jcn?1626861"></script><noscript><img src="http://counter.rambler.ru/top100.cnt?1626861" alt="" width="1" height="1" border="0"></noscript>--> <!-- end of Top100 code --> 
  <script type="text/javascript">
if($('cloud1'))
{
	var cloud_speeds = new Array();
	for(var i=0;i<10;i++)
	{
		cloud_speeds.push(Math.random()*0.06+0.01);	
		var m = $('cloud'+i).style.left.match(/([\d\.]+)%/);
	}
	setInterval(function()
	{	
		for(var i=0;i<10;i++)
		{
			var m = $('cloud'+i).style.left.match(/([-\d\.]+)%/);
			var left = new Number(m[1]);
			left += cloud_speeds[i];
			if(left>100)
				left = -50;
			$('cloud'+i).style.left = left.toFixed(3)+'%';
		} 
	},400);
}

</script> 
  <div class="feedback"> 
   <div class="feedback-btn" onclick="Feedback.show()">
    Связаться
   </div> 
   <div class="feedback-container"> <i class="feedback-close"></i> 
    <div class="feedback-form"> 
     <h4>Автор:</h4> 
     <input name="name"> 
     <h4>Обратный адрес:</h4> 
     <input name="email"> 
     <h4>Тема:</h4> 
     <input name="subject"> 
     <h4>Сообщение:</h4> <textarea name="message" rows="8"></textarea> 
     <div class="attach-img"> 
      <div>
       <img>
      </div> <a onclick="Feedback.removeCapture()">Удалить</a> 
     </div> 
     <div class="attach" onclick="Feedback.startCapture()"> <i></i> <a>Сделать снимок экрана</a> 
     </div> <button onclick="Feedback.send()"><img class="loading" src="/img/small_loading.gif" style="display: none"> Отправить</button> 
     <div class="sent" style="display: none">
      Ваше сообщение отправлено.
     </div> 
    </div> 
    <div class="attach-form"> 
     <div class="attach-mode" data-mode="highlight" onclick="Feedback.changeMode('highlight')"> <b>Выделить</b> 
      <div>
       Выделите фрагменты страницы, относящиеся к вашему сообщению
      </div> 
     </div> 
     <div class="attach-mode" data-mode="blackout" onclick="Feedback.changeMode('blackout')"> <b>Скрыть сведения</b> 
      <div>
       Скрыть всю личную информацию
      </div> 
     </div> <button onclick="Feedback.saveCapture()">Сохранить</button> <a class="cancel" onclick="Feedback.cancelCapture()">Отмена</a> 
    </div> 
    <script type="text/javascript">
            if(window.chrome && chrome.webstore) {
                $$$('.attach').show();
            }
        </script> 
   </div> 
  </div> 
  <script type="text/html" id="_tpl__abuse">
			<h4>Пожаловаться</h4>
<div style="text-align: left">
<h5>Причина</h5>
<label><input type="radio" name="reason" value="spam"> Спам, флуд или некорректное поведение</label><br/>
<label><input type="radio" name="reason" value="cheat"> Использование запрещенных скриптов и других средств</label><br/>
<label><input type="radio" name="reason" value="fake"> Фиктивный аккаунт</label><br/>
<label><input type="radio" name="reason" value="other"> Прочее</label><br/>

<h5>Комментарий</h5>
<textarea cols=60 rows=4 name="message"></textarea>

<h5>Текст с картинки</h5>
<div id="abuse_recaptcha"></div>
<div style="color: red; display: none" class="captcha_error">Текст с картинки введен неверно</div>

</div> 	</script> 
  <script type="text/html" id="_tpl__user_moderator">
			<style>
	.moderator-period { 
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 2px;
		padding: 2px 4px;
	}
</style>
<h4>Модерирование</h4>
<div style="text-align: left">
<h5>Заблокировать <span class="moderator-period">на <%=period%> <% if(period == 1) { %> сутки <% } else { %> суток <% } %></span></h5>
<label><input type="radio" name="reason" value="spam"> Спам, флуд или некорректное поведение</label><br/>
<label><input type="radio" name="reason" value="temp_other"> Прочее</label><br/>

<h5>Заблокировать насовсем</h5>
<label><input type="radio" name="reason" value="cheat"> Использование запрещенных скриптов и других средств</label><br/>
<label><input type="radio" name="reason" value="fake"> Фиктивный аккаунт</label><br/>
<label><input type="radio" name="reason" value="perm_other"> Прочее</label><br/>

<h5>Комментарий</h5>
<textarea cols=60 rows=4 name="message"></textarea>


</div> 	</script>
  <script type="text/javascript">
    var reformalOptions = {
    project_id: 982183,
    project_host: "klavogonki.reformal.ru",
    tab_orientation: "right",
    tab_indent: "50%",
    tab_bg_color: "#F05A00",
    tab_border_color: "#FFFFFF",
    tab_image_url: "http://tab.reformal.ru/0KXQvtGC0LXQu9C60Lgg0Lgg0LHQu9Cw0LPQvtC00LDRgNC90L7RgdGC0Lg=/FFFFFF/841bb0c25fe081438119c08c92b1c56a/right/0/tab.png",
    tab_border_width: 2
};

    (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript'; script.async = true;
    script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
    document.getElementsByTagName('head')[0].appendChild(script);
    })();

</script>  
 </body>
</html>